*{
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, div {
    display: block;
}
html {
    font-size: 16px;
}
ul, hr, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
p{
    line-height: 1.2em;
}
h1{
    color: #980635;
    font-weight: 400;
    font-size: 1.4rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: black;
    /*text-transform: uppercase;*/
    font-size: 0.7rem;
}
hr{
}
.container{
    width: 95%;
    margin: 0 auto;
    font-family: 'Mitr', sans-serif;
    font-weight:300;
}


/* -------------------------SYSTEME DE GRILLES ------------------------*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%; /*background-color: #980635*/}
.col-4{width: 33.33%; }
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%; }
.col-9{width: 75%; }
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 0 15px;*/
}
.row:after {
    content: "";
    clear: both;
    display: block;
}


/*	STYLES JUSQU'A 960PX inclus**********/
@media only screen and (max-width:960px) {
    /*on définit des classes pour les largeurs de colonnes version tablettes*/
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/***********************/
/*STYLES POUR TÉLÉPHONES JUSQU'A 768PX INCLUS*/
@media only screen and (max-width:768px){



    [class*="col-"] {
        width:100%;
    }
}

/* ---------------------------------END SYSTEME DE GRILLES---------------- */

.sec_login{
    background-color: #980635;
    width: 100%;
}
.logo-xl-sm{
    width: 500px;
}
.logo-xl-sm #logo-small{
    width: 40px;
    visibility: hidden;
}
.sec_login #logo{
    /*width: 30%;*/
    display: inline-block;
 vertical-align: bottom;
    padding: 10px 0 10px 0;
}
.connexion{
    display: inline-block;
    vertical-align: bottom;
   float: right;
    margin-top: -53px;
}
.connexion a{
    background-color: #ffffff;
    padding: 8px 25px 8px 25px;
    margin-right: 10px;
    text-transform: uppercase;
}
.connexion a:hover{
    color: #980635;
}
.connexion a:last-child{
    background-color: transparent;
    color: #ffffff;
}
.connexion a:last-child:hover{
    color: #fecc6f;
}
/*filtres*/

.filtres_top{
    width: 100%;
    background-color: #fecc6f;
}
#form_recherche select#categorie, #quartier{
    width: 95%;
    margin: 20px 20px 10px 0;
    padding: 10px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0;  /* Firefox 1-3.6 */
    border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}
#form_recherche #search_submit{
    width: 100%;
    margin: 20px 20px 20px 0;
    padding: 10px;
    border: 0;
    background-color: #4f021a;
    color: #ffffff;
}
.bouton-submit{
    position: relative;
}
.bouton-submit a.fa{
  position: absolute;
    margin-left: 35px;
    margin-top: -55px;
    font-size: 1.4rem;
    color: #eeeeee;
}
.text_carte_affaires{
    width: 23%;
    margin-left: 10px;
}
.text_carte_affaires h2{
    padding-top: 30px;
    color: #980635;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2em;
}
/*main*/
main{
    margin: 20px 0 20px 0;
}
.publi_annonce{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.publi_annonce:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.info_annonce{
    padding-left: 20px;
}
.titre_info{
    margin-top: 20px;
    text-align: right;
}
p.text_info {
    margin-top: 10px;
    font-size: 1rem;
}
.info_adresse, .carte{
    margin-top: 10px;
}
.carte{
    width: 40px;
    margin-right: 5px;
}
.info_adresse p{
    font-size: 0.8rem;
}
.info_adresse span{
    font-weight: 400;
}
.quartier{
    font-weight: 400;
    color: #980635;
}
.col_droite_pub{
    padding: 0 0 0 20px;
}
.col_droite{
    background-color: #f1f1f1;
    padding: 10px 0 10px 20px;
}
.col_droite p{
    font-size: 0.7rem;
}
.col_droite h2{
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
    line-height: 1.2em;
}
.col_droite .info-col-droite{
    margin-bottom: 10px;
}

/*accordion*/

#container-main{
    background-color: #f1f1f1;
    margin-bottom: 10px;
}
.accordion-container {
    width: 100%;
    clear:both;
}
.accordion-titulo {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    background: #666666;
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background-color: #4f021a;
    color: #fff;
}
.accordion-titulo:hover {
    background: #980635;
}
.accordion-titulo span.toggle-icon:before {
    content:url("../images/arrow_on.png");
    vertical-align: top;
}
.accordion-titulo.open span.toggle-icon:before {
    content:url("../images/arrow_off.png");
    vertical-align: middle;
}
.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
}
.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}
.accordion-content p{
    margin:0;
}

@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}

/*footer*/
.logo-footer{
    padding: 10px 0 10px 0;
}
.menu-footer{
    width: 100%;
    background-color: #980635;
}
.menu-sec{
    padding: 20px;
    text-align: center;
}
.menu-footer li{
    display: inline-block;
    color: #ffffff;
}
.menu-footer li a{
    color: #ffffff;
    margin-right: 30px;
    text-align: center;
    padding: 10px;
}
.menu-footer li a:hover{
    color: #fecc6f;
}
.res_sociaux{
    padding: 20px;
    text-align: center;
}
.res_sociaux .fa{
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.res_sociaux .fa:hover{
    color: #fecc6f;
}


.copyright-footer{
    background-color: #4f021a;
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
}

/* ------------------ form connexion--------------------------- */

.section_form{
    margin-bottom: 30px;
}
.form_connexion {
    margin: auto;
    text-align: left;
}
.form_connexion .form-largueur {
    padding: 0 15px 0 0;
    margin-top: 20px;
}
.form_connexion input {
    margin-right: 5px;
    width: 100%;
    height: 35px;
}
.form_connexion .form_bouton input {
    width: 120px;
    height: 30px;
    background-color: #4f021a;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
input[type="submit"] {
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
}
label{
   font-size: 0.8rem;
}
.form_connexion a {
    text-decoration: none;
    color: #980635;
    font-size: 0.6rem;
}
#msg_erreur {
    text-align: center;
    margin: 50px auto;
    color: #ac2546;
}
/* ------------------ form inscription --------------------------- */

.subtitres-form h3{
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    line-height: 1.2em;
    margin: 30px 0 5px 0;
}
.subtitres-form p{
    font-size: 0.7rem;
    font-weight: 300;
    color: #333;
    line-height: 1.2em;
}
.form_inscripion {
    margin: auto;
    text-align: left;
}
.form_inscripion span {
    color: #fc7474;
}
.form_inscripion .form-largueur {
    padding: 0 15px 0 0;
    margin-top: 20px;
}
textarea#saisie_description {
    width: 98%;
    font-size: 0.7rem;
    font-weight: 200;
}
.area-description{
    margin-top: 20px;
}
.form_inscripion input {
    margin-right: 5px;
    width: 100%;
    height: 35px;
    font-size: 0.7rem;
    font-weight: 200;
}
.form_inscripion .form_bouton input {
    width: 120px;
    height: 30px;
    background-color: #4f021a;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
input[type="submit"] {
    border: none;
}
label{
    font-size: 0.8rem;
}
.form-annuler a{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #980635;
}
.col-10.form-annuler {
    margin-top: 20px;
}
.form_inscripion p {
    color: #fc7474;
    font-size: 0.7rem;
    margin-top: 5px;
}
#msg_erreur {
    text-align: center;
    margin: 50px auto;
    color: #a9c01b;
}
.invalid {
    background-color: #fff4f4;
    padding: 5px;
}
/* --------------------------------responsive------------------------------------ */

/*@media 960 ----------------------------------------------------------*/
@media only screen and (max-width: 960px){
    #wrapper{
        width:100%;
    }
    .sec_login #logo{
        width: 50%;
    }
    .connexion{
        margin-top: -45px;
    }

    /*filtre*/
    #form_recherche select#categorie, #quartier{
        width: 95%;
        margin: 10px 10px 10px 0;
        padding: 8px;
    }

    #form_recherche #search_submit{
        margin: 10px 10px 10px 0;
        padding: 8px;
    }

    .bouton-submit a.fa{
        margin-left: 25px;
        margin-top: -43px;
    }
    .text_carte_affaires{
        width: 23%;
        margin-left: 10px;
    }

    .text_carte_affaires h2{
        padding-top: 15px;
        font-size: 1rem;
    }

    main{
        margin: 10px 0 10px 0;
    }

    .publi_annonce{
        padding: 10px;
        margin-bottom: 15px;
    }
    .info_annonce{
        padding-left: 10px;
    }
    .logo_annonce{
        /*width: 90px;*/
    }
    .titre_info{
        margin-top: 0;
        text-align: right;
    }
    .titre_info h1{
        font-size:1rem ;
        margin-top: 10px;
    }
    p.text_info {
        margin-top: 5px;
        font-size: 0.9rem;
    }

    .info_adresse, .carte{
        margin-top: 5px;
    }
    .carte{
        width: 30px;
        margin-right: 5px;
    }

    .info_adresse p{
        font-size: 0.8rem;
    }

    /*footer*/
    .logo-footer{
        padding: 0;
        margin-top: 5px;
    }
    .menu-footer{
        padding: 10px 0 10px 0;
    }
    .menu-sec{
        padding: 0;
        text-align: center;
    }
    .menu-footer li a{
        margin-right: 40px;
        padding: 0;
    }
    .menu-footer li a:hover{
        color: #fecc6f;
    }
    .res_sociaux{
        padding: 0;
    }
    .res_sociaux .fa{
        margin-right: 5px;
    }


}

/*@media 768 ----------------------------------------------------------*/
@media only screen and (max-width: 768px){
    #wrapper{
        width:100%;
    }
    .sec_login #logo{
        display: none;
    }
    .sec_login {
        background-color: #980635;
        width: 100%;
        min-height: 50px;
        /*background-image: url(../images/g.png);
        background-repeat: no-repeat;*/
        /*background-attachment: fixed;*/
        background-position: 8% 5%;
        background-size: 40px;
    }
    .logo-xl-sm{
        width: 500px;
    }
    .logo-xl-sm #logo-small{
        width: 40px;
        margin : 10px 0 5px 10px;
        visibility: visible;
    }

    .connexion{
        margin-left: 20px;
    }
    .connexion a{
        padding: 8px 15px 8px 15px;
        margin-right: 0;
    }

    /*filtres*/

    .filtres_top .container{
        width: 85%;
    }

    .filtres_top{
        width: 100%;
        background-color: #fecc6f;
        padding-top: 5px;
    }

    #form_recherche select#categorie, #quartier{
        width: 100%;
        margin: 5px 0  5px 0;
        padding: 10px;
        border: 0;
    }

    #form_recherche #search_submit{
        width: 100%;
        margin: 5px 0  5px 0;
        padding: 10px;
        border: 0;
        background-color: #4f021a;
        color: #ffffff;
    }

    .bouton-submit{
        position: relative;

    }
    .bouton-submit a.fa{
        position: absolute;
        margin-left: 35px;
        margin-top: -45px;
        font-size: 2rem;
        color: #eeeeee;

    }
    .text_carte_affaires{
        display: none;
    }

    /*main*/
    main{
        margin: 10px 0 10px 0;
    }

    .publi_annonce{
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    .publi_annonce:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
    .image-annonce img{
        max-width: 90px;
    }

    .info_annonce{
        margin-left: 90px;
        margin-top: -110px;
    }


    .logo_annonce{
        display: none;
    }
    .titre_info{
        margin-top: 20px;
        text-align: left;
    }
    hr{
        display: none;
    }
    p.text_info {
        display: none;
    }

    .info_adresse, .carte{
        margin-top: 5px;
    }
    .carte{
        width: 25px;
    }

    .info_adresse {
        margin-left:0;
        margin-top: 5px;
        width: 220px;
    }
    .info_adresse p {
        font-size: 0.7rem;

    }
    .info_adresse span{
        font-weight: 400;
    }
    .quartier{
        font-weight: 400;
        color: #980635;
    }

    .fondo-anuncios{
        background-color: red;
    }

    /*col droite*/
    .col_droite_pub{
        padding: 0;
        margin: 10px 0 20px 0;
    }

    .col_droite_pub img{
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }

    /* ------------------ footer--------------------------- */

    .logo-footer{
        display: none;
    }
    .menu-footer{
        width: 100%;
        background-color: #980635;
    }
    .menu-sec{
        padding: 20px;
        text-align: center;
    }
    .menu-footer li{
        display: block;
        color: #ffffff;
    }
    .menu-footer li a{
        color: #ffffff;
        margin-right: 30px;
        text-align: center;
        padding: 10px;
    }
    .menu-footer li a:hover{
        color: #fecc6f;
    }
    .res_sociaux{
        padding: 20px;
        text-align: center;
    }
    .res_sociaux .fa{
        color: rgba(255, 255, 255, 0.5);
        font-size: 2rem;
        display:inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .res_sociaux .fa:hover{
        color: #fecc6f;
    }

    .copyright-footer{
        background-color: #4f021a;
        color: #f1f1f1;
        text-align: center;
        padding: 10px;
        font-size: 0.7rem;
    }

    /*form connexion*/

    .section_form{
    }

    .form_connexion .container {
        width: 85%;
    }
    .form_connexion .form-largueur {
        padding: 0;
        margin-top: 5px;
    }

    .col_droite .container{
        width: 100%;
        padding: 0;
    }

    .col_droite{
        background-color: #f1f1f1;
        padding: 10px 0 10px 20px;
    }
    .col_droite p{
        font-size: 0.6rem;
    }
    .col_droite h2{
        font-size: 0.8rem;
    }
    .col_droite .info-col-droite{
        margin-bottom: 5px;
    }
}